.header { 
	background-color: #3b5998;
	color: white;
	font-family: 'Poppins';
	text-align: center;
}
.jumbo{
	font-size:64px;
	text-align: center;
	color: whitesmoke;
	text-shadow: 2px 2px 8px #000000;

}
body {
	background-color: #3b5998;
	font-family: 'Poppins';
	color: rgb(255, 255, 255);
	text-align: left;
	padding-left: 10px;

}

h1 { color: rgb(255, 255, 255);
	font-family: 'Poppins';
}

.header a {
	color: whitesmoke;
}.outer {
    display: table;
    position: absolute;
    height: 70%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}