{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block app_content %}
{% block title %}
    {% if add_show %}
        Add Show
    {% else %}
        Edit Show
    {% endif %}
{% endblock %}
{% block body %}
<div style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px">
  <div class="content-section">
  <div class="outer">
      <div class="middle">
        <div class="inner">
          <div class="center">
              {% if add_show %}
                  <h1>Add TV Series</h1>
              {% else %}
                  <h1>Edit TV Series</h1>
              {% endif %}
              <br/>
              {{ wtf.quick_form(form) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% endblock %}