{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="everything">

   <h1><b>Hello, Welcome to the Admin Dashboard!</b></h1>
     </br> 


    <p> Please use of the menu to update current media items offered by McKeown Zone.  </p>
    </br>
    <p> To view/edit any current loans, please make use of the buttons below.</p>

    <hr>

  


    <a href={{ url_for('game_loans') }}>
   <div class="roundedcornershapes">
    <div class="card-header"><h1></h1></div>
    <div class="card-body">
    <h2 class="card-title" style="color: white;">Video Games</h2>
    <p class="card-text">Click here to view and edit any current video games that are out on loan. </p>
  </div>
</div>
</a>
</br>
<a href={{ url_for('film_loans') }}>
<div class="invertroundedcornershapes">
  <div class="card-header"><h1></h1></div>
  <div class="card-body">
  <h2 class="card-title" style="color: white;">Movies</h2>
  <p class="card-text">Click here to view and edit any current movies that are out on loan. </p>
</div>
</div>
</a>
</br>

<a href={{ url_for('show_loans') }}>
<div class="roundedcornershapes">
  <div class="card-header"><h1></h1></div>
  <div class="card-body">
  <h2 class="card-title" style="color: white;">TV Series</h2>
  <p class="card-text">Click here to view and edit any current boxsets that are out on loan. </p>
</div>
</div>
</a>

</br>
<a href={{ url_for('list_users') }}>
<div class="invertroundedcornershapes">
  <div class="card-header"><h1></h1></div>
  <div class="card-body">
  <h2 class="card-title" style="color: white;">Users</h2>
  <p class="card-text">Click here to view and edit any current users. </p>
</div>
</div>
</a>
</br>
</br>

</div>
    
{% endblock %}
