{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}


{% block app_content %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <div class="roundedcornershapes">
        <h1 style="text-align:center;">Films Loans</h1></div>
        {% if loans %}
          <hr class="intro-divider">
          <div class="center">
          
              <table class="table table-hover table-striped table-bordered">
              <thead>
                <tr class="table-info">
                  <th scope="col"> Film Name </th> </div>
                  <th scope="col"> Loaned To </th>
                  <th scope="col"> On Loan From </th>
                  <th scope="col"> Return Date </th>
                  <th scope="col"> Late? </th>
                  <th scope="col"> Edit Loan </th>
                </tr>
              </thead>
              <tbody>
              {% for loan in loans %}
              <tr>
               
                <td> {{ film.query.filter_by(id=loan.filmid).first().name }} </td>
                <td> {{ user.query.filter_by(id=loan.userid).first().username }} </td>
                <td> {{ loan.fromdate.strftime('%d-%m-%Y') }} </td>
                <td> {{ loan.todate.strftime('%d-%m-%Y') }} </td>
                <td> 
                  {% if loan.todate < datetime.utcnow() %}
                  Late
                  {% else %}
                  No
                  {% endif %}
                </td>
                <td>
                  <a href="{{ url_for('editfilmloan', id=loan.bookingid) }}">
                    <i class="fa fa-trash"></i> Remove
                  </a>
                </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No Films are currently on Loan. </h3>
            <hr class="intro-divider">
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}