{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}


{% block app_content %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Games</h1>
        {% if games %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Name </th>
                  <th width="40%"> Description </th>
                  <th width="15%"> Release Year </th>
                  <th width="15%"> Rating </th>
                  <th width="15%"> Loan Status </th>
                </tr>
              </thead>
              <tbody>
              {% for game in games %}
              <tr>
                <td> {{ game.name }} </td>
                <td> {{ game.description }} </td>
                <td> {{ game.release_year }} </td>
                <td> {{ game.rating }} </td>
                <td> {{ game.loan_status }} </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No Games have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}